---
import SkillCard from "../Card/SkillCard.astro";
---

<section
	id="proyectsSection"
	class="w-full flex flex-col justify-center items-center gap-4 mb-[5rem]">
	<h2
		class="text-5xl sm:text-[3.7rem] md:text-[5rem] lg:text-[6.3rem] xl:text-[7.3rem]
    2xl:text-[8rem] text-[var(--original-color)] font-special z-20 mb-[-1.7rem] sm:mb-[-1.9rem] md:mb-[-2.3rem] xl:mb-[-2.65rem] 2xl:mb-[-2.9rem]">
		Proyectos
	</h2>

	<article
		id="all-grid"
		class="grid grid-cols-4 grid-rows-3 gap-2 w-[80vw] h-[35vh] sm:w-[70vw] sm:h-[40vh]
           md:w-[80vw] md:h-[50vh] lg:w-[60rem] lg:h-[70vh] cursor-pointer">
		<!-- 1) Codigosa -->
		<div
			id="codigosa"
			class="col-span-2 row-span-2 second-color-opacity p-4 rounded lg:rounded-lg
             flex items-center justify-center grid-box box">
			<img class="w-1/2" src="/img/logos/logoCodigosa.svg" alt="Logo 1" />
		</div>

		<!-- 2) Pr贸ximamente 1 -->
		<div
			class="col-span-2 col-start-1 row-start-3 second-color-opacity p-4 rounded lg:rounded-lg
             flex items-center justify-center grid-box box">
			<p
				class="font-special md:text-[1.7rem] lg:text-[2rem] xl:text-[3rem]">
				Pr贸ximamente
			</p>
		</div>

		<!-- 3) Portfolio -->
		<div
			id="portfolio"
			class="col-start-3 row-start-2 second-color-opacity p-4 rounded lg:rounded-lg
             flex items-center justify-center grid-box transition box">
			<img
				class="w-1/2"
				src="/img/logos/logoDanielAndroid192.png"
				alt="Logo 1"
			/>
		</div>

		<!-- 4) Codigosa 3 -->
		<div
			id="codigosa3"
			class="col-start-3 row-start-3 second-color-opacity p-4 rounded lg:rounded-lg
             flex items-center justify-center grid-box box">
			<img class="w-1/2" src="/img/logos/logoCodigosa.svg" alt="Logo 1" />
		</div>

		<!-- 5) Pr贸ximamente 2 -->
		<div
			class="col-span-2 col-start-3 row-start-1 second-color-opacity p-4 lg:rounded-lg
             flex items-center justify-center grid-box box">
			<p
				class="font-special md:text-[1.7rem] lg:text-[2rem] xl:text-[3rem]">
				Pr贸ximamente
			</p>
		</div>

		<!-- 6) BilbaoSKP -->
		<div
			id="bilbaoskp"
			class="row-span-2 col-start-4 row-start-2 second-color-opacity p-4 rounded lg:rounded-lg
             flex items-center justify-center grid-box box">
			<img
				class="w-1/2"
				src="/img/logos/logoBilbaoSkp.webp"
				alt="Logo 1"
			/>
		</div>
	</article>
</section>
