---
const { title, href, src, alt } = Astro.props;
---

<a
	{...href ? { href, target: "_blank" } : {}}
	class={`bg-[var(--main-background-color)] rounded-md flex items-center gap-2 transition-all duration-300 text-[var(--main-char-color)] text-sm xl:text-base font-thin ${
		src
			? "px-2 py-2 lg:px-4 rounded-md "
			: "px-2 py-[0.15rem] lg:px-4 rounded-[0.14rem] "
	}${title ? "lg:px-4" : "lg:px-[0.5rem]"} ${href ? "cursor-pointer  hover:bg-[var(--second-background-color)]" : ""}`}>
	{src && <img alt={alt} src={src} class="w-5 h-5 sm:w-6 sm:h-6" />}
	<div class={`${title ? "flex" : "hidden"}`}>
		{title}
	</div>
</a>
