---
import SkillCard from "../Card/SkillCard.astro";
---

<section
	id="frontPageSection"
	class="w-full lg:w-[60rem] h-[94vh] flex flex-row justify-center items-center gap-4">
	<div
		class="absolute top-[-50px] left-1/2 -translate-x-1/2 -translate-y-1/2 w-[150%] h-[170vh] bg-[var(--second-background-color)] rounded-full blur-[50px] opacity-40 -z-10">
	</div>

	<article class="w-full flex flex-col items-center justify-center gap-4">
		<div
			class="w-full flex flex-col items-center lg:items-start justify-center">
			<h1
				class="text-5xl sm:text-[3.7rem] md:text-[5rem] lg:text-[3.8rem] xl:text-[3.5rem]
		text-[var(--original-color)]">
				DANIEL GÓMEZ
			</h1>
			<h2
				class="text-[1.7rem] sm:text-[2.1rem] md:text-[2.8rem] lg:text-[2.18rem]
		xl:text-[2rem] font-special text-[var(--second-char-color)]">
				Desarrollador full stack
			</h2>
		</div>

		<nav
			class="flex flex-row items-center justify-center lg:justify-start gap-4 w-full">
			<SkillCard
				href="../../../src/assets/certificates/cv.pdf"
				src="../../../src/assets/icons/iconCV.svg"
				alt="CV logo"
			/>
		</nav>
	</article>

	<article
		class="w-full h-[40vh] object-cover hidden lg:flex bg-white opacity-20">
	</article>
	<!-- <img
		src="../../../src/assets/images/background.svg"
		alt="Background"
		class="w-full h-[80vh] object-cover hidden lg:flex"
	/> -->
</section>
