---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import FrontPage from "./FrontPage/FrontPage.astro";
import ProyectsSection from "./Proyects/ProyectsSection.astro";
import TechnologiesSection from "./Technologies/TechnologiesSection.astro";
import ExperienceSection from "./Experience/ExperienceSection.astro";
import CertificatesSection from "./Certificates/CertificatesSection.astro";
import Footer from "./Footer/Footer.astro";
---

<main class="flex flex-col items-center justify-center w-full">
	<FrontPage />
	<ProyectsSection />
	<ExperienceSection />
	<TechnologiesSection />
	<CertificatesSection />
</main>
