---
import SkillCard from "../Card/SkillCard.astro";

import ExperienceCard from "./ExperienceCard.astro";
---

<section
	class="w-full flex flex-col justify-center items-center gap-4 mb-[5rem]"
	id="experienceSection">
	<h2
		class="text-5xl sm:text-[3.7rem] md:text-[5rem] lg:text-[6.3rem] xl:text-[7.3rem]
	2xl:text-[8rem] text-[var(--original-color)] font-special z-20 mb-[-1.7rem] sm:mb-[-1.9rem] md:mb-[-2.3rem] xl:mb-[-2.65rem] 2xl:mb-[-2.9rem]">
		Experiencia
	</h2>

	<ExperienceCard
		img="/src/assets/logos/logoCodigosa.svg"
		company="Codigosa (startup)"
		job="Full Stack Software Developer"
		date="Abril 2024 - Actualidad"
		jobInfo={["Bilbao, España", "Remoto", "Tiempo partido"]}
		texts={[
			"Desarrollador FullStack",
			"Tecnologías: Java, JavaScript, React, Tailwind, Git",
			"Estudios: Universidad de Granada",
		]}
	/>
	<ExperienceCard
		img="/"
		company="Gekkotech (startup)"
		job="Backend Software Developer"
		date="Marzo 2025- Actualidad"
		jobInfo={["Zaragoza, España", "Remoto", "Prácticas"]}
		texts={[
			"Desarrollador FullStack",
			"Tecnologías: Java, JavaScript, React, Tailwind, Git",
			"Estudios: Universidad de Granada",
		]}
	/>
</section>
