---
import SkillCard from "../Card/SkillCard.astro";

import ExperienceCard from "./ExperienceCard.astro";
---

<section
	class="w-full flex flex-col justify-center items-center gap-4 mb-[5rem] parallax"
	id="experienceSection">
	<h2
		class="text-5xl sm:text-[3.7rem] md:text-[5rem] lg:text-[6.3rem] xl:text-[7.3rem]
	2xl:text-[8rem] text-[var(--original-color)] font-special z-20 mb-[-1.7rem] sm:mb-[-1.9rem] md:mb-[-2.3rem] xl:mb-[-2.65rem] 2xl:mb-[-2.9rem] zoom-in"
		data-animate>
		Experiencia
	</h2>

	<ExperienceCard
		img="/img/logos/logoCodigosa.svg"
		company="Codigosa (startup)"
		job="Full Stack Software Developer"
		date="Abril 2024 - Actualidad"
		jobInfo={["Bilbao, España", "Remoto", "Tiempo partido"]}
		texts={[
			"CEO de la startup",
			"Función: Desarrollador FullStack y Diseñador  con el objetivo de ayudar a digitalizar y aumentar la visibilidad de los negocios",
			"Tecnologías: JavaScript, Tailwind, Astro, Wordpress, CSS3, HTML5, GitHub",
		]}
	/>
	<ExperienceCard
		img="/img/logos/logoGekkotech.webp"
		company="Gekkotech (startup)"
		job="Backend Software Developer"
		date="Marzo 2025- Actualidad"
		jobInfo={["Zaragoza, España", "Remoto", "Prácticas"]}
		texts={[
			"Desarrollador Backend",
			"Función: Desarrolar la automatizacion de tests a través de Python para comprobar el estado de la aplicacion de una aplicación para restaurantes",
			"Tecnologías: Python, Pycharm, Github, Rust",
		]}
	/>
</section>
