---
import "../styles/styles.css";
import SpeedInsights from "@vercel/speed-insights/astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/img/logos/logoDaniel.svg"
		/>
		<meta
			name="keywords"
			content="Daniel Gomez,Desarrollador Frontend,frontend,Desarrollador,JavaScript,React.js, Astro.js"
		/>
		<meta
			property="og:title"
			content="Daniel G贸mez - Desarrollador Full Stack"
		/>
		<meta property="og:image" content="/img/logos/logoDaniel.svg" />
		<meta
			property="og:description"
			content="Desarrollador con pasi贸n por construir y seguir creciendo en el mundo del desarrollo web."
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Daniel G贸mez - Portfolio</title>
	</head>
	<body class="pattern flex flex-col items-center w-full">
		<slot />
		<!-- Tu script con la l贸gica -->
		<SpeedInsights />
		<script src="/src/scripts/script.js"></script>
	</body>
</html>
<style>
	#observer-debug {
		position: fixed;
		top: 20%;
		bottom: 20%;
		left: 0;
		right: 0;
		background: rgba(255, 0, 0, 0.2); /* Rojo semi-transparente */
		pointer-events: none;
		z-index: 9999;
	}
</style>
